<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>ViewUI example</title>
  <link rel="stylesheet" type="text/css" href="http://unpkg.com/view-design/dist/styles/iview.css">
  <link rel="stylesheet" href="//cdnjs.loli.net/ajax/libs/mdui/0.4.3/css/mdui.min.css">
  <script src="//cdnjs.loli.net/ajax/libs/mdui/0.4.3/js/mdui.min.js"></script>
</head>

<body>
  <div class="mdui-container">
    <form>
      <div class="mdui-textfield">
        <input class="mdui-textfield-input" type="text" placeholder="User Name"/>
      </div>
    </form>
  </div>

</body>

</html>