<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="//cdnjs.loli.net/ajax/libs/mdui/0.4.3/css/mdui.min.css">
    <script src="//cdnjs.loli.net/ajax/libs/mdui/0.4.3/js/mdui.min.js"></script>
</head>

<body class="mdui-theme-primary-{{ colorPrimary }} mdui-text-color-{{ colorText }}">
    <style>
        a {
            TEXT-DECORATION: none
        }
    </style>
    {{ nav }}
    <br><br>
    <div class="mdui-container">
        {{ body}}
    </div>

</body>

</html>
<!-- Build For Stuoe Framework! https://github.com/stuoe/stuoe-->




