<div class="mdui-typo-headline">修改公开资料</div>
<br>
<br>
<form action="/settings/profile" method="POST">
    <div class="mdui-textfield">
        <i class="mdui-icon material-icons">account_circle</i>
        <label class="mdui-textfield-label">昵称</label>
        <input name="nickname" class="mdui-textfield-input" type="nickname" value="{{ UserObj.nickname }}" />
        <p class="help"></p>
    </div>
    <div class="mdui-textfield">
        <i class="mdui-icon material-icons">textsms</i>
        <label class="mdui-textfield-label">介绍</label>
        <textarea name="user_des" class="mdui-textfield-input" placeholder="简单的介绍下自己吧">{{ UserObj.user_des }}</textarea>
    </div>
    <div class="mdui-textfield">
        <i class="mdui-icon material-icons">domain</i>
        <label class="mdui-textfield-label">个人主页域名</label>
        <input name="url" class="mdui-textfield-input" placeholder="自己的博客，Github地址" value="{{ UserObj.url }}"></input>
    </div>
    <br>
    <button type="submit" class="mdui-btn mdui-btn-raised mdui-ripple mdui-color-theme-accent">更新个人资料</button>
</form>
<br>
<br>
<div class="mdui-typo-headline">账号安全</div>
<br><br>
<form action="/settings/email" method="POST">
    <div class="mdui-textfield">
        <i class="mdui-icon material-icons">email</i>
        <label class="mdui-textfield-label">绑定邮箱</label>
        <input name="email" class="mdui-textfield-input" type="nickname" value="{{ UserObj.email }}" />
    </div>
    <br>
    <button type="submit" class="mdui-btn mdui-btn-raised mdui-ripple mdui-color-theme-accent">更改并验证</button>
</form>