<br>
<div align="left">
    <img src="https://github.com/fluidicon.png" class="mdui-img-fluid mdui-img-rounded" width="200" height="200">
    <div style="white-space:nowrap" class="mdui-typo-headline"><strong>Test User</strong>
        <div class="mdui-chip">

            <span class="mdui-chip-title">普通用户</span>
        </div>
    </div>


    <br>
    
    <div class="mdui-typo">
        <p><em>Wait....And Something Text About This User</em></p>

    </div>
    <div class="mdui-divider"></div>
    <div class="mdui-tab" mdui-tab>
        <a href="#example1-tab1" class="mdui-ripple">帖子</a>
        <a href="#example1-tab2" class="mdui-ripple">活动</a>
        <a href="#example1-tab3" class="mdui-ripple">留言</a>
    </div>
    <div id="example1-tab1" class="mdui-p-a-2">一些帖子....</div>
    <div id="example1-tab2" class="mdui-p-a-2">一些活动....</div>
    <div id="example1-tab3" class="mdui-p-a-2">给主人留个话吧</div>
</div>