<br>
<div align="left">
    <img src="https://avatars1.githubusercontent.com/u/60885817?s=460&u=c9ec341e3c458f25e36a87457c6ec6a4efae0170&v=4"
        class="mdui-img-fluid mdui-img-circle" width="200" height="200">
    <div style="white-space:nowrap" class="mdui-typo-headline"><strong>{{ nickname }}</strong>
        <div class="mdui-chip">

            <span class="mdui-chip-title">{{ userGroup }}</span>
        </div>
    </div>


    <br>

    <div class="mdui-typo">
        <p><em>{{ des }}</em></p>

    </div>
    <div class="mdui-divider"></div>
    <div class="mdui-tab" mdui-tab>
        <a href="#example1-tab1" class="mdui-ripple">帖子</a>
        <a href="#example1-tab2" class="mdui-ripple">活动</a>
        <a href="#example1-tab3" class="mdui-ripple">留言</a>
    </div>
    <div id="example1-tab1" class="mdui-p-a-2">一些帖子....</div>
    <div id="example1-tab2" class="mdui-p-a-2">一些活动....</div>
    <div id="example1-tab3" class="mdui-p-a-2">给主人留个话吧</div>
</div>