<link rel="stylesheet" type="text/css" href="/static/editor/simditor/lib/simditor.css" />

<script type="text/javascript" src="/static/jquery/dist/jquery.min.js"></script>
<script type="text/javascript" src="[script path]/module.js"></script>
<script type="text/javascript" src="[script path]/hotkeys.js"></script>
<script type="text/javascript" src="[script path]/uploader.js"></script>
<script type="text/javascript" src="[script path]/simditor.js"></script>

<textarea id="editor" placeholder="这里输入内容" autofocus></textarea>