.mc-editor {
    height: 100%
  }

  .mc-editor .content-empty:before {
    content: attr(placeholder);
    color: rgba(0, 0, 0, .42);
    position: absolute;
    cursor: text
  }

  .mc-editor .content {
    padding: 0 20px;
    height: calc(100% - 64px);
    overflow-y: auto;
    outline: none;
    box-sizing: border-box
  }

  .mc-editor .content p[aria-label] {
    position: relative
  }

  .mc-editor .content p[aria-label]:empty:before {
    content: attr(aria-label);
    color: rgba(0, 0, 0, .56);
    cursor: text;
    position: absolute;
    top: 0;
    left: 0
  }

  .mc-editor .toolbar {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    padding: 14px 20px
  }

  .mc-editor .toolbar:after {
    display: table;
    clear: both;
    content: ""
  }

  .mc-editor .toolbar .close {
    display: none;
    margin-right: 8px
  }

  .mc-editor .toolbar .close+.mdui-toolbar-spacer {
    display: none
  }

  .mc-editor .toolbar .submit-text {
    min-width: 58px;
    margin-right: 12px
  }

  .mc-editor .toolbar .submit-icon {
    display: none
  }

  .mc-editor .toolbar .menu {
    padding: 0;
    width: 28px;
    min-width: 28px;
    height: 28px;
    line-height: 28px;
    border-radius: 3px;
    box-shadow: inset 0 0 0 1px transparent;
    opacity: .6;
    color: #212121
  }

  .mc-editor .toolbar .menu i {
    font-size: 21px
  }

  .mc-editor .toolbar .menu:hover {
    opacity: 1;
    background-color: transparent
  }

  .mc-editor .toolbar .menu.active {
    background-color: rgba(0, 0, 0, .12);
    opacity: 1
  }

  .mc-editor .toolbar .menu+.menu {
    margin-left: 2px
  }

  .mc-editor .toolbar .divider {
    width: 1px;
    width: .8px;
    background-color: #e5e5e5;
    margin: 0 6px;
    height: 28px;
    display: inline-block;
    float: left
  }

  .mc-editor-dialog {
    max-width: 690px;
    height: calc(100vh - 100px)
  }

  .mc-editor-dialog .mc-editor {
    height: 100%
  }

  .mc-editor-dialog .mc-editor .content {
    padding-top: 16px
  }

  .mc-editor-dialog .close {
    display: none
  }

  .mc-editor-dialog .title {
    display: none;
    height: 62px;
    line-height: 34px;
    width: 100%;
    font-weight: 700;
    border: none;
    outline: none;
    padding: 14px 20px;
    font-size: 16px;
    box-sizing: border-box
  }

  .mc-editor-dialog.with-title .mc-editor {
    height: calc(100% - 62px)
  }

  .mc-editor-dialog.with-title .mc-editor .content {
    padding-top: 0
  }

  .mc-editor-dialog.with-title .title {
    display: block
  }

  @media (max-width:599px) {
    .mc-editor-dialog {
      position: fixed !important;
      left: 0 !important;
      top: 0 !important;
      right: 0 !important;
      bottom: 0 !important;
      height: 100% !important;
      width: 100% !important;
      margin: 0 !important;
      max-width: none !important;
      max-height: none !important;
      border-radius: 0 !important
    }

    .mc-editor-dialog .title {
      margin-top: 56px
    }

    .mc-editor-dialog .mc-editor {
      height: calc(100% - 56px) !important;
      margin-top: 56px
    }

    .mc-editor-dialog .toolbar {
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      padding: 10px 8px;
      border-bottom: 1px solid rgba(0, 0, 0, .12)
    }

    .mc-editor-dialog .toolbar .close,
    .mc-editor-dialog .toolbar .close+.mdui-toolbar-spacer {
      display: block
    }

    .mc-editor-dialog .toolbar .divider,
    .mc-editor-dialog .toolbar .mdui-toolbar-spacer,
    .mc-editor-dialog .toolbar .menu {
      display: none
    }

    .mc-editor-dialog .toolbar .menu-image {
      display: block;
      position: fixed;
      right: 68px
    }

    .mc-editor-dialog .content {
      height: 100%
    }

    .mc-editor-dialog .submit-text {
      display: none
    }

    .mc-editor-dialog .submit-icon {
      display: block !important
    }

    .mc-editor-dialog.with-title .mc-editor {
      height: calc(100% - 118px) !important;
      margin-top: 0
    }
  }