a:link {   
  font-size: 12px;   
  color: #000000;   
  text-decoration: none;   
  }   
  a:visited {   
  font-size: 12px;   
  color: #000000;   
  text-decoration: none;   
  }   
  a:hover {   
  font-size: 12px;   
  color: #999999;   
  text-decoration: underline;   
  }   
  a {
    TEXT-DECORATION: none
  }