<!DOCTYPE html>
<html lang="zh-cn">

<head>

    <meta charset="UTF-8" />
    <title>安装Installing | 填写论坛名称</title>
    <meta name="description" content="安装Installing | 填写论坛名称" />
    <meta name="content-language" content="zh-cn" />
    <meta name="language" content="Chinese" />
    <meta name="robots" content="noindex, nofollow, noodp, noydir" />
    <meta name="googlebot" content="noindex, nofollow, noodp, noydir" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.2/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>

</head>

<body>
    <section class="section" aria-setsize="30">
        <div class="container">

            <h1 class="title">
                开始安装
            </h1>
            <p class="subtitle">
                安装你的 <strong>Stuoe</strong>!
            </p>
            <hr>
            <form action="/install/start" method="POST">
                <div class="field">
                    <label class="label">Label</label>
                    <div class="control" aria-setsize="30">
                      <input class="input" type="text" placeholder="Text input">
                    </div>
                    <p class="help">This is a help text</p>
                  </div>
            </form>
        </div>
    </section>
</body>

</html>