<style>
    .window {
        width: 400px;
        position: absolute;
        margin-left: -200px;
        margin-top: -80px;
        top: 35%;
        left: 50%;
        display: block;
        z-index: 2000;
    }
</style>
<div class="mdui-container window">
    <div class="mdui-container mdui-typo">
        <h2 align="left">403 无权限访问</h2>
        <h6 style="font-weight: 300;line-height: 1.2;">你的请求的界面需要权限，可能需要登入或者为管理员，<a href="https://github.com/stuoe/stuoe">stuoe</a></a>
            拒绝你的请求，因此返回403</h6>
        <div class="mdui-divider"></div>
        <small>code:403 Forbidden</small>
    </div>
</div>