<style>
    .window {
        width: 400px;
        position: absolute;
        margin-left: -200px;
        margin-top: -80px;
        top: 35%;
        left: 50%;
        display: block;
        z-index: 2000;
    }
</style>
<div class="mdui-container window">
    <div class="mdui-container mdui-typo">
        <h2 align="left">404 界面不存在</h2>
        <h6 style="font-weight: 300;line-height: 1.2;">你的请求在服务器上并不存在，<a href="https://github.com/stuoe/stuoe">stuoe</a>
            无法完成你的请求，因此返回404</h6>
        <div class="mdui-divider"></div>
        <small>code:404 Not Found</small>
    </div>
</div>