<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <title>{{ title }} - {{ webtitle }}</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/mdui@1.0.0/dist/css/mdui.min.css"
    integrity="sha384-2PJ2u4NYg6jCNNpv3i1hK9AoAqODy6CdiC+gYiL2DVx+ku5wzJMFNdE3RoWfBIRP" crossorigin="anonymous" />
  <!-- Render for Jinja2 Building for https://github.com/stuoe/stuoe -->
</head>
<!-- Main content, definition style, occupancy percentage -->

<body class="mdui-color-theme-{{ colorPrimary }} mdui-theme-accent-{{ colorPrimary }} mdui-bottom-nav-fixed">
  <!-- Define color theme, set text style, body in body -->
  <div class="mdui-color-theme-theme">
    <!-- Define navigation bar -->
    <header class="mdui-shadow-0">
      {{ nav }}
    </header><br>
    <!-- Define the main content and adjust the percentage of occupied content -->
    <div class="mdui-container">
      {{ body }}
      <!-- Loading JavaScript -->
      <script src="https://cdn.jsdelivr.net/npm/mdui@1.0.0/dist/js/mdui.min.js"
        integrity="sha384-aB8rnkAu/GBsQ1q6dwTySnlrrbhqDwrDnpVHR2Wgm8pWLbwUnzDcIROX3VvCbaK+"
        crossorigin="anonymous"></script>
      <script>
        {{ js }}
      </script>
    </div>
  </div>
</body>

</html>