<div class="mdui-container"><br>
  <div class="mdui-row mdui-row-gapless">
    <div class="mdui-col-xs-2" align="center"><img src="{{ userObj.avater }}" class="mdui-img-fluid mdui-img-rounded"
        width="100" height="100" /></div>
    <div class="mdui-col-xs-5">
      <div class="mdui-typo-headline" style="font-weight: 400;">{{userObj.nickname}}</div><br>
      <div class="mdui-row mdui-row-gapless">
        <div class="mdui-col-xs-2" style="font-weight: 400;">{{userObj.user_group}}</div>
        <div class="mdui-col-xs-4">
          <div style="font-weight: 400;">加入于 {{getTimer(userObj.registertime,True)}}</div>
        </div>
      </div>
      <div class="mdui-col-xs-2"></div>
      <br>
      <div class="mdui-typo">
        {{userObj.user_des}}
      </div>
    </div>

  </div>
  <br><br>
  <div class="mdui-divider"></div><br><br>
  <div class="mdui-row mdui-row-gapless">
    <div class="mdui-col-xs-2">
      <a style="font-weight: 500;"><i class="mdui-icon material-icons mdui-color-text-white">chat_bubble_outline</i>
        发布的讨论 {{ userObj.theUserTalkNumber() }}</a><br><br>
      <a style="font-weight: 500;"><i class="mdui-icon material-icons mdui-color-text-white">chat</i> 讨论中回复
        {{ userObj.theUserReplyNumber() }}</a><br><br>
      <a style="font-weight: 500;"><i class="mdui-icon material-icons mdui-color-text-white">stars</i> 获得星标数
        {{ userObj.getStarNumber() }}</a><br><br><br><br>

    </div>
    <div class="mdui-col-xs-10">
      {% for post in userObj.getActivity() %}
      <div class="mdui-row mdui-row-gapless">
        <div class="mdui-col-xs-1">
          <a href="/u/{{ userObj.id }}"><img width="60" height="60" class="mdui-img-circle"
              mdui-tooltip="{content: '{{ userObj.nickname }}'}" src="{{ userObj.avater }}" /></a>
        </div>
        <div class="mdui-col-xs-9">
          <a href="/u/{{ userObj.id }}" style="font-weight: 500;text-decoration: none;color:#0c0d0e;"
            mdui-tooltip="{content: '{{ userObj.nickname }}'}">{{userObj.nickname}} </a>最后编辑于
          {{getTimer(post.pushingtime)}}
          <div class=" mdui-typo">
            <br>
            {{post.body}}
          </div>
        </div>
      </div>
      <div class="mdui-divider"></div><br><br>
      {% endfor %}
    </div>
    <div class="mdui-col-xs-2"></div>
  </div>
</div>
<!--<br />
  <div align="left">
   <img src="{{ userObj.avater }}" class="mdui-img-fluid mdui-img-circle" width="200" height="200" />
   <br />
   <div style="white-space:nowrap" class="mdui-typo">
    <strong class="mdui-typo-headline">{{userObj.nickname}}</strong>
    <div class="mdui-chip">
     <span class="mdui-chip-title">{{userObj.user_group}}</span>
    </div>
    <kbd></kbd>
   </div>
   <br />
   <div class="mdui-divider"></div>
   <div class="mdui-tab" mdui-tab="">
    <a href="#post" class="mdui-ripple">帖子与回复</a>
    <a href="#des" class="mdui-ripple">简介</a>
   </div>
   <div id="post" class="mdui-p-a-2">
    {%if lastedPost==[]%}
    <strong class="mdui-typo-title">用户还没发布任何帖子或者回复呢</strong>{%endif%}{%for p in lastedPost%}
    <li class="mdui-list-item">
     <div class="mdui-list-item-content">
      <div class="mdui-list-item-avatar">
       <a href="/u/{{ userObj.id }}"><img width="200" height="200" class="mdui-img-circle" src="{{ userObj.avater }}" /></a>
      </div>
      <div class="mdui-list-item-title mdui-typo">
       <kbd>{{userObj.nickname}}</kbd>
       <kbd>{{getTimer(p.pushingtime)}}</kbd>
      </div>
      <div class="mdui-typo">
       {{p.body}}
      </div>
      <div class="mdui-divider"></div>
     </div><br /> </li>{%endfor%}
   </div>
   <div id="des" class="mdui-p-a-2">
    <div class="mdui-typo">
     {{userObj.user_des}}
    </div>
   </div>
  </div>
-->